<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="1px solid black">
        <tr bgcolor="coral">
            <td>ID</td>
            <td>PW</td>
            <td>NICK</td>
        </tr>
        {% for item in list %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.pw}}</td>
            <td>{{item.nick}}</td>
        </tr>
        {% endfor%}

    </table>
</body>

</html>